@import "general.scss";

.welcome {
    background-color: $lightBlue;
}

.welcome--container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
}

.welcome__city {
    grid-area: 1/2/2/4;
    align-self: end;
    color: #333333;
    opacity: 0.3;
}

.welcome__h1 {
    grid-area: 2/2/3/8;
    z-index: 1;
    font-weight: bold;
    font-size: 44px;
    line-height: 70px;
}

.welcome__descr {
    font-size: 22px;
    line-height: 22px;
    grid-area: 3/2/4/8;
    z-index: 1;
}

.welcome__main-btn {
    grid-area: 4/2/5/4;
    min-width: 204px;
    background-color: $brightBlue;
    color: #ffffff;
    padding: 15px 0;
    align-self: start;
    text-align: center;
}

.welcome__main-img {
    width: 100%;
    height: 100%;
    grid-area: 1/6/-1/-1;
    justify-self: end;
}

.slider-button {
    background-color: #ffffff;
    border: none;
    height: 64px;
    background-color: white;
    width: 105px;
    background-image: url('../images/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.slider-controls {
    grid-area: 5/6/6/13;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;
    align-items: end;
}

.slider-button--prev {
    transform: rotate(180deg);
}

.slider-button--prev > svg > path {
    stroke: #EAF2F6;
}

.slider-button--next {
}

.welcome__socials--link {
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    align-self: end;
}

.welcome__social--fb {
    background-image: url("./images/fb.svg");
    grid-area: 5/2/6/3;
}

.welcome__social--inst {
    background-image: url("./images/inst.svg");
    grid-area: 5/3/6/4;
}

.welcome__social--vk {
    background-image: url("./images/vk.svg");
    grid-area: 5/4/6/5;
}

.slider-page {
    justify-self: end;
    align-self: center;
    color: #ffffff;
    font-size: 32px;
}

/*place*/

.place {
    padding-top: 90px;
    padding-bottom: 100px;
}

.place--container {
    display: grid;
    grid-template-columns: 1fr 444px 1fr;
    grid-template-rows: repeat(11, auto);
    grid-gap: 20px 30px;
    padding: 0 30px;
}

.place--left-aside-number {
    justify-self: center;
    font-weight: bold;
    font-size: 64px;
    color: #eaf2f6;
}

.place--left-aside-descr {
    grid-area: 2/1/3/2;
    font-weight: bold;
    font-size: 64px;
    color: #eaf2f6;
    transform: rotate(-90deg);
}

.h2 {
    position: relative;
    font-size: 16px;
    color: $brightBlue;
    padding-left: 115px;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
    }

    &::after {
        content: "";
        position: absolute;
        left: 26px;
        top: 10px;
        width: 81px;
        height: 1px;
        border-top: 1px solid $brightBlue;
    }
}

.place--h2 {
    &::before {
        content: "01";
    }
}

.place__p--ex-big {
    position: relative;
    font-size: 12px;
    line-height: 40px;

    &::before {
        content: "";
        position: absolute;
        height: 160px;
        width: 2px;
        border-left: 2px solid $brightBlue;
        left: -30px;
    }
}

.place__p--big {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

.place__p--small {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}

.h3 {
    font-weight: bold;
    font-size: 32px;
}

.place--h3 {
    max-width: 450px;
    grid-area: 2/2/3/3;
    grid-area: 2/1/3/-1;
    justify-self: center;
}

.place--1 {
    grid-area: 3/2/4/3;
}

.place--img-2 {
    grid-area: 4/2/5/3;
    justify-self: center;
}

.place--1 {
    grid-area: 3/2/4/3;
}

.place--2 {
    max-width: 210px;
    justify-self: center;
    grid-area: 4/3/5/4;
}

.place--3 {
    grid-area: 5/2/6/3;
}

.place--img-3 {
    grid-area: 6/1/7/-1;
    justify-self: center;
}

.place--4 {
    grid-area: 7/2/8/3;
}

.place--5 {
    grid-area: 8/1/9/4;
    max-width: 650px;
    justify-self: center;
    font-size: 22px;
}

.place--6 {
    grid-area: 9/2/10/3;
}

.place--7 {
    max-width: 210px;
    justify-self: center;
    align-self: center;
    grid-area: 10/1/11/2;
}

.place--8 {
    grid-area: 10/2/11/3;
}

.place--button {
    width: 289px;
    padding: 16px 0;
    text-align: center;
    color: #ffffff;
    background-color: $brightBlue;
    grid-area: 11/2/12/3;
}

/*rent*/

.rent {
    background-color: $lightBlue;
    padding: 165px 0 100px 0;
}

.rent--container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
    padding: 0 30px;
}

.rent--h2 {
    grid-area: 1/1/2/-1;
    justify-self: center;
    &::before {
        content: "02";
    }
}

.rent--h3 {
    grid-area: 2/1/3/-1;
    justify-self: center;
    line-height: 100px;
}

.rent__offer {
    display: flex;
    flex-direction: column;

    &:last-child {
        flex-direction: row;
    }
}

.rent__offer--1 {
    grid-area: 3/1/4/4;
}

.rent__offer--2 {
    grid-area: 3/4/4/7;
}

.rent__offer--3 {
    grid-area: 3/7/4/10;
}

.rent__offer--4 {
    grid-area: 3/10/4/13;
}

.rent__offer--5 {
    grid-area: 4/3/5/-3;
}

.rent__offer--inner {
    padding: 24px;
}

.h4 {
    grid-area: 2/1/3/-1;
    font-weight: 400;
    font-size: 19px;
    line-height: 34px;
}

.rent__offer-img {
    width: auto;
}

.rent__inner-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    column-gap: 10px;
    background-color: #ffffff;
    padding: 5px 24px;
}

.rent__inner-wrapper-last {
    min-width: 590px;
}

.rent__square {
    grid-area: 3/1/4/4;
    position: relative;
    font-size: 16px;
    line-height: 40px;
    opacity: 0.3;

    &::after {
        content: "";
        position: absolute;
        top: 43px;
        left: 4px;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #333333;
    }
}

.rent__offer-img--1 {
    grid-area: 1/1/2/4;
}

.rent__offer-img--5 {
    height: 200px;
}

.rent__rooms-quantity {
    grid-area: 5/1/6/2;
    font-weight: 300;
    font-size: 32px;
    line-height: 75px;
}

.rent__bedrooms-quantity {
    grid-area: 5/2/6/3;
    font-weight: 300;
    line-height: 75px;
    font-size: 32px;
}

.rent__floor-quantity {
    grid-area: 5/3/6/4;
    font-weight: 300;
    font-size: 32px;
    line-height: 75px;
}

.rent__rooms {
    grid-area: 6/1/7/2;
    font-size: 12px;
}

.rent__bedrooms {
    grid-area: 6/2/7/3;
    font-size: 12px;
}

.rent__floor {
    grid-area: 6/3/7/4;
    font-size: 12px;
}

.rent__square-last {
    &::after {
        width: 540px;
    }
}

/*request*/

.request--container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 110px 1fr;
    grid-gap: 20px;
    padding: 0 30px;
}

.request--h2 {
    grid-area: 1/2/2/5;
    align-self: end;
    &::before {
        content: "03";
    }
}

.request--h3 {
    grid-area: 2/2/3/6;
    align-self: end;
}

.request--img {
    grid-area: 1/7/4/13;
    width: 100%;
}

.request__input {
    width: 100%;
    min-height: 44px;
    background: #ffffff;
    border: 1px solid #cfdce3;
    padding: 0 16px;
}

.request--form {
    grid-area: 3/2/4/6;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 132px);
    grid-template-rows: 100px 100px 100px 100px 44px;
    grid-template-areas: 
    "t n sn" 
    "e e e"
    "tel tel tel"
    "cb1 cb2 ."
    "btn . .";
}

.request--item {
    display: flex;
    flex-direction: column;
}

.request--titles {
    grid-area: t;
}

.request--name {
    grid-area: n;
}

.request--surname {
    grid-area: sn;
}

.request--email {
    grid-area: e;
}

.request--phone {
    grid-area: tel;
}

.request__btn--submit {
    min-width: 155px;
    background-color: $brightBlue;
    border: none;
    color: #ffffff;
    grid-area: btn;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


.text-label {
    max-width: 180px;
    display: inline-block;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
  }
  
  .checkbox label {
    position: relative;
    padding-left: 25px;
  }
  
  .checkbox label::before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    border: 1px solid #cfdce3;
    left: 0;
    top: 0;
  }
  
  .checkbox input:checked + label::after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: #06a9b3;
    left: 4px;
    top: 4px;
  }

  .checkbox-1 {
      grid-area: cb1;
  }

  .checkbox-2 {
    grid-area: cb2;
}