footer.footer
    .container.footer-container
        a(href="")
            img(src="./images/logo.svg", alt="") 
        ul.footer__items
            li.footer__item
                a(href="").footer__link Место
            li.footer__item
                a(href="").footer__link Каталог
            li.footer__item
                a(href="").footer__link Оставить заявку
        p.footer__copyright © Сделано в <a href="">HTML Academy</a>