header.header 
    .container.header-nav
        ul.header-items
            li.header-item
                a(href="").header-link Место 
            li.header-item
                a(href="").header-link Каталог
            li.header-item
                a(href="").header-link Оставить заявку
        a(href="").header--link-logo
            img(src="./images/logo.svg", alt="")
        a.header-search(href="")
        p
            <a href="" class="header-link">Вход</a> или <a href="" class="header-link">Регистрация</a>
             

