section.welcome 
    .container.welcome--container
        p.welcome__city Санкт-Петербург
        h1.welcome__h1 Загородные дома в аренду
        p.welcome__descr Отдохните от суеты мегаполиса в уютном тёплом доме в окружении экологически чистых лесов, рек и озёр
        a(href="").welcome__main-btn Арендовать дом
        
                a(href="").welcome__socials--link.welcome__social--fb
                a(href="").welcome__socials--link.welcome__social--inst
                a(href="").welcome__socials--link.welcome__social--vk
        img(src="./images/1.png", alt="").welcome__main-img
        div.slider-controls
            button.slider-button.slider-button--prev
            button.slider-button.slider-button--next
            p.slider-page 
                span 1
                span 8

section.place   
    .container.place--container
        p.place--left-aside-number 01
        p.place--left-aside-descr Место
        h2.place--h2.h2 Место
        h3.place--h3.h3 Парк отдыха на берегу Ладожского озера
        p.place--1.place__p--big Отдохните в уютных деревянных домах с камином, сауной и джакузи, расположенных на берегу озера. Для любителей полного уединения есть домики и в глубине парка, в окружении вековых деревьев.
        img(src="./images/2.jpg", alt="").place--img-2
        p.place--2.place__p--small За счёт особой конструкции в наших домах очень тепло зимой и прохладно летом. Мы открыты для вас в любое время года!
        p.place--3.place__p--big На территории парка есть баскетбольная площадка, собственный пляж с сеткой для волейбола, прокат горных велосипедов и лодок. А зимой у нас можно взять в прокат лыжи или снегоходы и кататься по специально оборудованным трассам. Для каждого посетителя составляем индивидуальную программу развлечений и помогаем её осуществить.
        img(src="./images/3.png", alt="").place--img-3
        p.place--4.place__p--big Около каждого коттеджа есть детская площадка с качелями и горками, а на территории парка работает детская комната. Вы сможете позволить себе любой отдых зная, что ваш ребёнок находится под присмотром опытных специалистов.
        p.place--5.place__p--ex-big Мы предлагаем не только уютные дома, большой выбор развлечений и активностей для вас и вашей семьи, но и масштабные праздники, спортивные турниры и возможность встретить новых друзей.
        p.place--6.place__p--big Несмотря на отдалённость от населённых пунктов, вы не будете чувствовать себя оторванными ивилизации. Все наши дома оборудованы высокоскоростными точками доступа Wi-Fi и домашними кинотеатрами с подпиской Netflix.
        p.place--7.place__p--small Вы можете подписаться рассылку и узнавать обо всех акциях, скидках, и выгодных предложениях. 
        p.place--8.place__p--big Приезжайте к нам на месяц, всё лето или зиму — на длительную аренду действуют хорошие скидки! Забронируйте дом прямо сейчас, для этого достаточно заказать звонок, а отменить бронь вы сможете в любое время совершенно бесплатно.
        a(href="").place--button Бесплатно забронировать

section.rent 
    .container.rent--container 
        h2.h2.rent--h2 Место
        h3.h3.rent--h3 Дома для аренды
        div.rent__offer.rent__offer--1
            img(src="./images/r1.png", alt="").rent__offer-img.rent__offer-img--1
            div.rent__inner-wrapper
                h4.h4 Современная классика
                p.rent__square Площадь — 186 м2
                p.rent__rooms-quantity 5
                p.rent__bedrooms-quantity 3
                p.rent__floor-quantity 2
                p.rent__rooms комнат
                p.rent__bedrooms спальни
                p.rent__floor этажа

        div.rent__offer.rent__offer--2
            img(src="./images/r1.png", alt="").rent__offer-img.rent__offer-img--1
            div.rent__inner-wrapper
                h4.h4 Современная классика
                p.rent__square Площадь — 186 м2
                p.rent__rooms-quantity 5
                p.rent__bedrooms-quantity 3
                p.rent__floor-quantity 2
                p.rent__rooms комнат
                p.rent__bedrooms спальни
                p.rent__floor этажа

        div.rent__offer.rent__offer--3
            img(src="./images/r1.png", alt="").rent__offer-img.rent__offer-img--1
            div.rent__inner-wrapper
                h4.h4 Современная классика
                p.rent__square Площадь — 186 м2
                p.rent__rooms-quantity 5
                p.rent__bedrooms-quantity 3
                p.rent__floor-quantity 2
                p.rent__rooms комнат
                p.rent__bedrooms спальни
                p.rent__floor этажа

        div.rent__offer.rent__offer--4
            img(src="./images/r1.png", alt="").rent__offer-img.rent__offer-img--1
            div.rent__inner-wrapper
                h4.h4 Современная классика
                p.rent__square Площадь — 186 м2
                p.rent__rooms-quantity 5
                p.rent__bedrooms-quantity 3
                p.rent__floor-quantity 2
                p.rent__rooms комнат
                p.rent__bedrooms спальни
                p.rent__floor этажа

        div.rent__offer.rent__offer--5
            img(src="./images/r1.png", alt="").rent__offer-img.rent__offer-img--5
            div.rent__inner-wrapper.rent__inner-wrapper-last
                h4.h4 Современная классика
                p.rent__square.rent__square-last Площадь — 186 м2
                p.rent__rooms-quantity 5
                p.rent__bedrooms-quantity 3
                p.rent__floor-quantity 2
                p.rent__rooms комнат
                p.rent__bedrooms спальни
                p.rent__floor этажа


section.request
    .container.request--container
        h2.h2.request--h2 Оставить заявку
        h3.h3.request--h3 Мы свяжемся с вами
        form(action="").request--form
            div.request--titles.request--item 
                label(for="") Обращение 
                select.request__input
                    option(value="") Мистер 
            div.request--name.request--item 
                label(for="") Имя
                input(type="text", placeholder="Джон").request__input
            div.request--surname 
                label(for="") Фамилия
                input(type="text", placeholder="Смит").request__input
            div.request--email.request--item
                label(for="") E-mail
                input(type="text", placeholder="johnsmith@gmail.com").request__input
            div.request--phone.request--item
                label(for="") Телефон
                input(type="text", placeholder="+7 999 999-99-99").request__input
            div.policy.checkbox.checkbox-1
                input(type="checkbox", name="agreement", id="aggrement").visually-hidden
                label(for="agreement").text-label Согласие на обработку персональных данных

            div.policy.checkbox.checkbox-2 
                input(type="checkbox", name="subscribe", id="subscribe").visually-hidden
                label(for="subscribe").text-label Подписка на рассылку
            
            button.request__btn--submit Отправить
        
        img(src="./images/reg1.png", alt="").request--img
        

        
            
            



