section.welcome 
    .container.welcome--container
        p.welcome__city Санкт-Петербург
        h1.welcome__h1 Загородные дома в аренду
        p.welcome__descr Отдохните от суеты мегаполиса в уютном тёплом доме в окружении экологически чистых лесов, рек и озёр
        a(href="").welcome__main-btn Арендовать дом
        
                a(href="").welcome__socials--link.welcome__social--fb
                a(href="").welcome__socials--link.welcome__social--inst
                a(href="").welcome__socials--link.welcome__social--vk
        img(src="./images/1.png", alt="").welcome__main-img
        div.slider-controls
            button.slider-button.slider-button--prev
            button.slider-button.slider-button--next
            p.slider-page 
                span 1
                span 8

section.place   
    .container.place--container
        p.place--left-aside-number 01
        p.place--left-aside-descr Место
        h2.place--h2 Место
        h3.place--h3 Парк отдыха на берегу Ладожского озера
        p.place--1 Отдохните в уютных деревянных домах с камином, сауной и джакузи, расположенных на берегу озера. Для любителей полного уединения есть домики и в глубине парка, в окружении вековых деревьев.
        img(src="./images/2.jpg", alt="").place--img-2
        p.place--2 За счёт особой конструкции в наших домах очень тепло зимой и прохладно летом. Мы открыты для вас в любое время года!
        p.place--3 На территории парка есть баскетбольная площадка, собственный пляж с сеткой для волейбола, прокат горных велосипедов и лодок. А зимой у нас можно взять в прокат лыжи или снегоходы и кататься по специально оборудованным трассам. Для каждого посетителя составляем индивидуальную программу развлечений и помогаем её осуществить.
        img(src="./images/3.png", alt="").place--img-3
        p.place--4 Около каждого коттеджа есть детская площадка с качелями и горками, а на территории парка работает детская комната. Вы сможете позволить себе любой отдых зная, что ваш ребёнок находится под присмотром опытных специалистов.
        p.place--5 Мы предлагаем не только уютные дома, большой выбор развлечений и активностей для вас и вашей семьи, но и масштабные праздники, спортивные турниры и возможность встретить новых друзей.
        p.place--6 Несмотря на отдалённость от населённых пунктов, вы не будете чувствовать себя оторванными ивилизации. Все наши дома оборудованы высокоскоростными точками доступа Wi-Fi и домашними кинотеатрами с подпиской Netflix.
        p.place--7 Вы можете подписаться рассылку и узнавать обо всех акциях, скидках, и выгодных предложениях. 
        p.place--8 Приезжайте к нам на месяц, всё лето или зиму — на длительную аренду действуют хорошие скидки! Забронируйте дом прямо сейчас, для этого достаточно заказать звонок, а отменить бронь вы сможете в любое время совершенно бесплатно.
        a(href="").place--button Бесплатно забронировать